{% extends "base.html" %}
{% block title %} Тури {% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Тури</h1>
    <div class="row">
        {% for tour in tours %}
        <div class="col-4">
            <div class="card">
                <img src="{{ tour.image_url }}" class="card-img-top" alt="{{ tour.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ tour.title }}</h5>
                    <p class="card-text">{{ tour.description|truncate(100, True)}}</p>
                    <a href="{{ url_for('tour_detail', tour_id=tour.id) }}" class="btn btn-primary">Детальніше</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}